.card {
    aspect-ratio: 1 / 1.6;
    border: 0.5vmin solid var(--border);
    cursor: pointer;
    position: relative;
    width: 56vmin;
  }
  
.carta {
    background-color: rgb(10, 10, 10);
  display: grid;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  place-items: center;
}